<div class="home-container">
  <div class="div-add">
    <i class="fas fa-plus-circle" (click)="openUploadModal()"></i>
  </div>
  <div class="list-container">
    <div class="list-item" *ngFor="let m of movies">
      <div class="card-container">
        <div class="card-img pointer" (click)="showPlot(m)">
          <img src="{{ m.poster_img ? m.poster_img : 'assets/default_movie.webp' }}" alt="" >
        </div>
        <div class="card-content">
          <div class="genre">{{ m.genre }}</div>
          <div class="title pointer">
            {{ m.movie_name }}
          </div>
          <div class="release-date pointer">
            Release date <b>{{ c.months[c.getMonth(m.release_date)] + ' ' + c.getDate(m.release_date) +', '+ c.getFullYear(m.release_date) }}</b>
          </div>
          <div class="director pointer">
            <b><i>{{ m.director }}</i></b>
          </div>
          <div class="rating">
            <ngb-rating [(rate)]="m.rate" (rateChange)="setRating($event, m)"></ngb-rating>&nbsp;{{ m.rating_count }}
          </div>
          <div class="edit" (click)="openUploadModal(m)">
            <i class="fas fa-edit"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>